<div class="container col-md-2">
    <h1>Hero Form</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="hero.name" type="text" class="form-control" required>
            TODO: remove this: {{hero.name}}
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="power">Hero Power</label>
            <select class="form-control" required>
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>